body {
  background-color: lightgrey;
  font-family: "Times New Roman";
}

.header {
  text-align: center;
}

#A {
  color: #c80d62
}

.Total {
  text-align: center;
  padding-left: 50px;
}

.Articles {
  text-align: center;
  padding-left: 50px;
}

.page-footer {
  padding-top: 2px;
  font-style: italic;
  font-family: "Times New Roman";
}


/*Page Paiement*/

.Paiement {
  padding-left: 40%;
}

.Cartes {
  padding-left: 200px;
}
